body {
    text-align: center;
    font-size: 18px;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1em;
    margin: -20px 0 50px 0;
}

.squares {
    border: 2px solid black;
    width: 160px;
    height: 160px;
    display: inline-block;
}

.row {
    width: 100%;
}

#topleft {
    border-top: none;
    border-left: none;
}

#topmiddle {
    border-top: none;
}

#topright {
    border-top: none;
    border-right: none;
}

#middleleft {
    border-left: none;
}

#middleright {
    border-right: none;
}

#botleft {
    border-bottom: none;
    border-left: none;
}

#botmiddle {
    border-bottom: none;
}

#botright {
    border-bottom: none;
    border-right: none;
}

